@import 'settings/settings.scss';
@import 'tools/tools.scss';

.t-dashboard {
  height: 100%;

  .toolbar {
    display: flex;
    justify-content: space-between;
  
    &__first-group {
      display: flex;
      align-items: center;
    }
  
    &__logo {
      height: 100%;
      max-width: 3vw;
      max-height: 5vh;
      padding-right: calculate-size(10);
    }
  
    &__title {
      font-family: font("secondary", "bold");
    }
  }

  &__main {
    margin: 0 auto;
    margin-top: calculate-size(50);
    width: 60%;
    max-width: 1000px;
    height: 80%;

    @include use-breakpoint('x-grande') {
      width: 80%;
    }
  }
}
