@import 'settings/settings.scss';
@import 'tools/tools.scss';

.p-list {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: calculate-size(20);

    h1 {
      font-size: calculate-size(26);
    }

    button {
      font-weight: bold;
    }
  }

  &__elements {
    
  }
}