<section class="p-list">

  <div class="p-list__header header">
    <h1>Lista de empleados (10)</h1>
    <button mat-raised-button color="primary">Crear empleado</button>
  </div>

  <div class="p-list__elements">
    <mat-card class="elements__card card">
      <mat-card-header>
        <mat-card-title>#1</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card__content">
        <div>
          <span class="card__content-value">{{ 'value' | uppercase }}</span><br>
          <span class="card__content-key">{{ 'key' | uppercase }}</span>
        </div>
        <div>
          <span class="card__content-value">{{ 'value' | uppercase }}</span><br>
          <span class="card__content-key">{{ 'key' | uppercase }}</span>
        </div>
        <div>
          <span class="card__content-value">{{ 'value' | uppercase }}</span><br>
          <span class="card__content-key">{{ 'key' | uppercase }}</span>
        </div>
        <div>
          <span class="card__content-value">{{ 'value' | uppercase }}</span><br>
          <span class="card__content-key">{{ 'key' | uppercase }}</span>
        </div>
      </mat-card-content>
      <mat-card-actions class="card__actions">
        <button mat-flat-button color="accent">Editar</button>
        <button mat-flat-button color="warn">Eliminar</button>
      </mat-card-actions>
    </mat-card>
  </div>

</section>