@import 'settings/settings.scss';
@import 'tools/tools.scss';

.p-list {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: calculate-size(20);

    h1 {
      font-size: calculate-size(26);
    }

    button {
      font-weight: bold;
    }
  }

  &__elements {
    .card {
      &__content {
        display: flex;
        flex-wrap: wrap;

        &-value {
          font-size: calculate-size(18);
          font-weight: bold;
        }

        &-key {
          font-size: calculate-size(16);
        }

        div {
          padding-right: calculate-size(8);
        }
      }
      &__actions {
        display: flex;
        justify-content: center;
        margin-bottom: calculate-size(8);
        button {
          font-weight: bold;
          &:first-child {
            margin-right: 2%;
          }
          min-width: 30%;
        }
      }
    }
  }
}